<div>
  <h2>Spells</h2>
  <button (click)="updateFilter('none')">All spells</button>
  <p>
    <select (change)="updateFilter('type')" [(ngModel)]="option">
      <option value="" disabled selected>Spells by type</option>
      <option value="Charm">Charm</option>
      <option value="Curse">Curse</option>
      <option value="Enchantment">Enchantment</option>
      <option value="Hex">Hex</option>
      <option value="Jinx">Jinx</option>
      <option value="Spell">Spell</option>
    </select>
  </p>
  <p>
    <input (keyup.enter)="updateFilter('name')" [(ngModel)]="temporaryName" placeholder="Spells by name">
    <button (click)="updateFilter('name')">Search</button>
  </p>
  <ul>
    <li *ngFor="let spell of applyFilter()">{{spell.spell}}
      <button *ngIf="!checkSpell(spell._id)" (click)="addSpell(spell._id)">Add to local favourites</button>
      <button *ngIf="checkSpell(spell._id)" (click)="removeSpell(spell._id)">Remove from local favourites</button>
      <div *ngIf="authService.isLoggedIn()">
        <button *ngIf="true">Add to online favourites - TBD (to be done)</button>
        <button *ngIf="false">Remove from online favourites - TBD (to be done)</button>
      </div>
      <ul>
        <li>Type: {{spell.type}}</li>
        <li>Effect: {{spell.effect}}</li>
      </ul>
    </li>
  </ul>
  <h2 *ngIf="filtered.length == 0">No spells were found!</h2>
</div>
